@import '../../assets/styles/index.scss';

.title {
  margin-top: 55px;
  margin-left: 55px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 66px;
  line-height: 70px;
  letter-spacing: 0.08em;
  color: var(--main-header-color);

  width: 600px;
}

.box {
  position: relative;
  &__picture {
    background-image: url(../../assets/images/Vector.png);
    background-position: 0px;
    position: absolute;
    background-repeat: no-repeat;
    width: 562px;
    height: 491px;
    top: 30px;
    right: -85px;
    z-index: 2;
  }
}
