@import '../../assets/styles/index.scss';

.mainBox {
  background-color: var(--login-and-reg-background);
  width: 640px;
  height: 100vh;
  border-radius: 70px 0px 0px 60px;
  position: fixed;
  top: 0;
  right: 0;
}

.elements {
  margin-top: 170px;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}

.title {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 42px;
  line-height: 42px;
  letter-spacing: 0.08em;
  color: var(--title-color);

  margin-bottom: 50px;
}

.input {
  border: 1px solid #e0e0e0;
  border-top: none;
  border-left: none;
  border-right: none;
  width: 280px;
  height: 36px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 42px;
  outline: none;
}

.inputList {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button {
  @extend %btnTiffany;
  width: 200px;
  height: 60px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 42px;
  color: var(--btn-text-color);

  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: 30px;
}

.bottomTextBox {
  display: flex;
  gap: 5px;
  &__text {
    font-size: 12px;
  }
}

.bottomBtn {
  color: var(--bottom-btn-color);
  font-size: 12px;
}
