@import '../../assets/styles/index.scss';

.navBar {
  display: flex;
  gap: 15px;
  align-items: center;

  padding-top: 30px;
  padding-left: 30px;
}

.button {
  @extend %btnTransperent;
  padding: 10px 20px;
}
