@import '../../assets/styles/index.scss';
body {
  margin: 0;
}
.Modal__backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;

  @include mq(mob-only) {
    overflow-x: hidden;
    overflow-y: hidden;
  }
  @include mq(tab) {
    background: var(--modal-background-color);
    overflow: auto;
  }
}
::-webkit-scrollbar {
  width: 6px;
  background: #f0f1f3;
}

::-webkit-scrollbar-thumb {
  background: #264061;
}
.Modal__content {
  position: absolute;
  display: flex;
  flex-direction: column;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 3px;
  background: #ffffff;
  box-shadow: var(--modal-box-shadow);
  justify-content: center;
  min-height: 300px;
  // max-width: 600px;
  // width: 100%;
  // margin-top: 250px;
  // margin-bottom: 50px;
  @include mq(mob-only) {
    width: 100vw;
    height: 100vh;
    margin-top: 123px;
  }
  @include mq(tab) {
    width: 672px;
    align-items: center;
    border-radius: 15px;
  }
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  @include mq(mob-only) {
    padding: 40px 0 119px 0;
  }
  @include mq(tab) {
    padding: 64px 0 81px 0;
    width: 509px;
  }
}

.topBox {
  // background-color: transparent;
  height: 30px;
}

.box {
  border-top: 1px solid var(--modal-small-box-border);
  @include mq(mob-only) {
    width: 280px;
  }
  @include mq(tab) {
    width: 330px;
  }
}

.btnCloseMob {
  @extend %btnTransperent;

  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;

  margin: auto 0;
  cursor: pointer;

  padding: 10px 20px;
}
