@import '../../assets/styles/index.scss';

.mainBox {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 30px;

  margin-top: 30px;
  width: 100%;

  border-top: 2px solid;
}

.header {
  margin-top: 50px;
  font-size: 72px;
}
.box {
  display: flex;
  gap: 30px;
  flex-direction: column;

  outline: 2px solid #61d4d8;
  padding: 44px 28px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -khtml-border-radius: 20px;
  -moz-border-radius: 20px;
  margin-bottom: 10px;
  overflow: hidden;

  background-color: white;
  @include mq(mob-only) {
    width: 290px;
  }

  @include mq(tab) {
    width: 330px;
  }
}

.input {
  display: flex;
  flex-direction: column;

  margin-bottom: 36px;
}

.input__box {
  width: 200px;
  border: none;
  border-bottom: 1px solid #adadad;
  padding: 0 0 5px 0;
}

.input__box::placeholder {
  color: #adadad;
}
.input__box:focus {
  outline: none;
}

.title {
  color: #000000;

  margin: 0;
  padding: 0 0 20px 0;

  font-weight: 700;
  font-size: 18px;
  line-height: 1.22;
  font-family: 'Quicksand';

  font-size: 18px;
}

.btn {
  @extend %btnTransperent;
  padding: 10px 20px;
}

.contactsMenu {
  display: flex;
  flex-direction: row;
  gap: 400px;
}
