%btnTiffany {
  cursor: pointer;
  background: #a4d9dc;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
  border-radius: 12px;
  color: #ffffff;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  border: 0;
  position: relative;
  // transition: all 0.35s ease;
  transition-duration: 150ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transform: translate(0, 0);

  &:hover:not(.active) {
    box-shadow: 0px 3px 15px 1px #7ecace;
  }
  &:active {
    transform: translateY(-1px);
    box-shadow: 0px 4px 13px 1px #c1e2e4;
  }
}

%btnTransperent {
  justify-content: center;
  cursor: pointer;
  background: #ffffff;
  border: 2px solid #a4d9dc;
  border-radius: 30px;
  color: #a4d9dc;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  transition-duration: 150ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transform: translate(0, 0);

  &:hover:not(.active) {
    box-shadow: 0px 3px 10px #84f1f7;
  }
  &:active {
    transform: translateY(-1px);
    box-shadow: 0px 4px 13px #a9d6d8;
  }
}
